/*font-family: 'Manrope', sans-serif;*/




body {
  font-family: 'Manrope', sans-serif;
  text-transform: uppercase;
  color: black;
  background-color: rgb(32, 132, 240);
  
}

img {
  height: 200px;
  width: 400px;
 
}
.question-box {
  display: border-box;
  background-color: white;
  border: solid;
  border-radius: 4px;
  border-color: black;
  border-width: 3px;
  display: hidden;
  padding: 10px 10px;
  margin: auto;
}
.scoreQuestionBox {
  display: row;
  font-family: font-family: 'Manrope', sans-serif;
  color: red;
  background-color: white;

}



section {
  max-width: 600px;
  margin: auto;
}

.row {
  max-width: 1000px;
  padding: 20px 20px 10px 10px;
  margin: 0 auto;
  
}

button {
  margin-top: 10px;
  height: auto;
  font-size: 15px;
  text-align: center;
  color: red;
  background: white;
  cursor: pointer;
  margin-bottom: 0;
  border-radius: 5px;
  padding: 10px 20px;
  border-color: darkblue;
}

header h1 {
  font-size: 30px;
  display: block;
}




question {
  font-family: 'Manrope', sans-serif;;
  display: row;
  color: red;
  font-style: bold;
  font-size: 20px;
  margin-bottom: 10px;
  list-style: none;
  text-align: left;
}

.startQuiz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding: 2px;
  background-color: white;
}

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
    flex-direction: row;
  }
}